PORT=3001
APP_URL=http://localhost:3001
JWT_SECRET=cambia_este_secreto

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=fire_cheat_web

ADMIN_USERNAME=Firechets
ADMIN_PASSWORD="cambia_esta_clave"
